*
{
margin:0;
padding:0;
}
body
    {
font-family: "Times New Roman";
}
#a1
{
display: flex;
flex-direction: column;
width: 60%
;
margin:0 auto
;
background-color: rgb(215, 216, 228);
}

header,table
{
display: flex;
flex-direction: column;
width: 100%;
min-height: 150px;
margin: a auto;
justify-content: center;
align-items: center;

}p
{
text-align: center;
font-size: 14pt;
font-weight: bolder;
padding:5px 0px;
}

button
{
background-color: cornflowerblue;
width: 100px;
height: 30px;
border-radius:5px;
}

#r
{
margin: 10px;
}

td{
width: 100px;
padding:5px;
}

th{
background-color: #E2494C;
color: rgb(202, 214, 214);
padding:5px;
font-size: 14pt;
}

#de
{
width: 80px;
display: flex;
justify-content: center;
padding-right:5px;
width: 100%;
}

#d{
background-color: #E2494C;
}

#e
{
background-color: #E2494C;
}

tr:nth-child(odd)
{
background-color: rgb(148, 145, 148);
}

