.vertical-menu {
  width: 200px;
  margin-left: 800px;
  margin-top: -57px;
}

.vertical-menu a {
  background-color: #eee; 
  color: black;
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc; 
}

.vertical-menu a.active {
  background-color: #E2494C; 
  color: white;
}